<%= form_for @course do |f| %>

<div class="form-course">
  <div class="form-course string optional">
    <%= f.label "name", :class => "string optional control-label"%>
    <%= f.text_field :name, :class => "string optional form-control"%>
  </div>
</div>
<%= f.submit "Submit", class: "btn btn-primay", data: { disable_with: "Submitting..."} %>
<% end %>
