<%= form_for @course do |f| %>
<% if @course.errors.any? %>
<ul>
  <% @course.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
  <% end %>
</ul>
<% end %>
课程
<%= f.text_field :name %>
<br>
<%= f.submit "Submit", :disable_with => 'Submitting...' %>
<% end %>
