<footer class="container" style="margin-top: 100px;">
  <p class="text-center">Copyright &copy2016 Xtest
    <br>Design by
    <a href="http://panxiubin-blog.logdown.com/" target=_new>Panxiubin</a>
  </p>
</footer>
